body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1f2937;
}

.nav {
    display: flex;
    padding: 24px;
    align-items: center;
    margin-bottom: 32px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #9efadb;
    margin-left: 48px;
    flex-shrink: 0;
}
span {
    color: #ffffff;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 48px;
}

.text {
    flex: 1;
    padding: 18px;
}

h1 {
    color: #9efadb;
}

p {
    color: #ffffff;
}

.button {
    color: #9efadb;
    text-align: center;
    background-color: #1f2937;
    border: 2px solid #fff;
    border-radius: 10%;
    font-size: 18px;
}

.img {
   width: 300px;
   height: auto;
   border-radius: 10%;
   flex-shrink: 0;
}

.title {
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 36px 0;
}

section {
    flex: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
    margin-bottom: 64px;
}

.container img {
    width: 280px;
    height: 280px;
}

.info {
    max-width: 280px;
}
.texts {
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    padding: 48px;
  
}

.quote cite {
    color: #000;
    text-align: right;
    font-weight: bold;
    display: block;
    margin-top: 10px 0;
}

.last-container {
    display: flex;
    flex-wrap: wrap;
    padding: 48px;
    margin: 64px;
    align-items: center;
    justify-content: space-between;
    background-color: #9efadb;
    border-radius: 8px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
}

.last-header {
    font-size: 18px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 10px;
}

.last-text {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    
}

.singup {
    background-color: #1f2937;
    color: #9efadb;
    font-size: 18px;
    border-radius: 10%;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    border: 2px solid #e5e7eb;
}

.footer {
    background-color: #1f2937;
    color: #9efadb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 72px;
}

